/* Allgemeine Einstellungen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    line-height: 1.6;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    text-align: center;
}

p, ul {
    margin: 10px 20px;
    text-align: justify;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav a:hover {
    color: #fff;
}